@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');


:root {
    --primary-color: #584d3d;
    --secondary-color: #415d43;
    --accent1-color: #bad9b5;
    --accent2-color: #D4AC0D;
  
    --heading-font: "IM Fell French Canon";
    --paragraph-font: Lato, Helvetica, sans-serif;
  
    --headline-color-on-white: #415d43;
    --headline-color-on-color: #bad9b5;
    --paragraph-color-on-white: #415d43;
    --paragraph-color-on-color: #bad9b5;
    --paragraph-background-color: #415d43  ;
    --nav-link-color: #415d43;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: #bad9b5;
    --nav-hover-background-color: #415d43;
  }


body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }
  h1, h2, h3, h4{
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }
  h2 {
    text-align: center;
  }
  hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
  }
  head {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
  }
  head > h1, header > h4 {
    color: var(--headline-color-on-color);
  }
  header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
  }
  header > h1, header > h4 {
    color: var(--headline-color-on-color);
  }
  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: #584d3d ;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
  nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
  }
  nav  {
    list-style-type: none;
    display: flex;
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  }
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
  .sitemap {
    display: grid;
    justify-content: center;
  
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ."
      ". . . top . ."
      ". left left right right ."
      "page2 page2 . . page3 page3";
  }
  .sitemap > div {
    text-align: center;
  }
  .sm-home {
    grid-area: home;
    background-color: #584d3d ;
    line-height: 3em;
  }
  .top {
    grid-area: top;
    border-left: 1px solid;
  }
  .left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
  }
  .right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
  }
  footer {
    background-color: #584d3d;
    color: #bad9b5;
    display: grid;
    grid-template-columns: 1fr 95px;
    align-items: center;
  }
  footer p {
    font-size: 1.2em;
  }

  footer p a:hover{
    text-decoration: underline;
  }
