@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');





:root {
    --primary-color: #584d3d;
    --secondary-color: #415d43;
    --accent1-color: #bad9b5;
    --accent2-color: #D4AC0D;

  
    --heading-font: "IM Fell French Canon";
    --paragraph-font: Lato, Helvetica, sans-serif;
  
    --headline-color-on-white: #415d43;
    --headline-color-on-color: #bad9b5;
    --paragraph-color-on-white: #415d43;
    --paragraph-color-on-color: #bad9b5;
    --paragraph-background-color: #415d43  ;
    --nav-link-color: #415d43;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: #bad9b5;
    --nav-hover-background-color: #415d43;
  }





head {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
  }
body {
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    background: var(--accent1-color);
  }    
  #content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
  }
  #logo-link{
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
  } 
  .logo{
    max-height: 120px;
    max-width: 120px;
  }
nav {
    background-color: var(--nav-background-color);
    line-height: 15px;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    max-height: 120px;
  }
nav a {
    padding:10px;
    max-width: 1000px;
    text-align: center;
    text-decoration: none;
    padding: 35px;
    color: var(--nav-hover-link-color);
  }
nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }  
header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
    display: grid;
    grid-template-columns: 150px auto;
  }  
  #hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
  }  
  #hero-box {
    width: 100%;
    z-index: -1;
  }   
  #hero-msg{
    /* text-align: center; */
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
  }  
  h1, h2{
    font-family: var(--heading-font);
    color: var(--accent2-color); 
  }
  h3, h4{
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }
  .msg{
margin-bottom: 120px;
  }
  .rivers-card{
    width: 100%;
  }
  .camping-card {
    width: 100%;
  }
  .rapids-card {
    width: 100%;
  }
  #background {
    width: 100%;
    height: 725px;
    background: var(--accent1-color);
  }
  .mountains {
    width: 100%;
  }
  .msg {
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
  }
  footer {
    color: var(--nav-hover-link-color);
    margin-top: 200px;
    padding: 25px 50px;
    text-align: center;
    color: var(--headline-color-on-color);
    text-decoration: underline;
    background-color: var(--paragraph-background-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .social img{
    padding-top: 15px;
  } 




@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
                