@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

 h1, p{
  font: sans-serif;
 }
 .page {
  max-width: 500px;
  margin: auto;
}
.tues-pro {
    display: block;
    margin-left: auto;
    margin-right: 35%;
    margin-top: 20%;
    margin-bottom: auto;
    width: 30%; 
    align-items: center;
    z-index: 1;
  }


  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
   }
   .loader1{
    transition: opacity 0.75s, visibility 0.75s;
   }
   .loader1--hidden {
    opacity: 0;
    visibility: hidden;
   }
   .back-wheel{
    display: block;
    animation: rotation 1s infinite linear;
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 20%;
    right: 52.4%;
   }
  

   @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
   }
   .front-wheel{
    display: block;
    animation: rotation 1s infinite linear;
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 20%;
    right: 33.5%;
   }
   .loader2{
    transition: opacity 0.75s, visibility 0.75s;
   }
   .loader2--hidden {
    opacity: 0;
    visibility: hidden;
   }

  body{
    background: #ffffff;
    width: 1500px;
    height: 1500px;
    
  }

  /* .hidden {
    visibility: hidden;
  } */

 h1, p{
  font-style: roboto;
 }

  #hero-img{
    position: absolute; 
    top: 200px; 
    left: 116px; 
    width: 1210px; 
    height: 500px; 
    z-index: 1;
  }

  #hero{
    position: absolute; 
    top: 400px; 
    left: 316px; 
    width: 800px; 
    height: 180px; 
    color: rgb(255, 255, 255);
    z-index: 2;
    
  }
    .About-us{
      width: 300px;
      margin-top: -60px;
      margin-left: 250px;
      border: 2px solid rgb(255, 255, 255);
    }
    .about-us{
      width: 800px;
      margin-top: 0px;
      margin-left: 10px;
      border: 2px solid rgb(255, 255, 255);
      font-size: large;
    }
    .home-title-1{
      font-size: xx-large;  
      text-align: center;
    }
    .home-title-2{
      font-size: x-large; 
      text-align: center;
    }
    .horizontal-line1{
      position: absolute;
      border-bottom: 4px solid rgb(0, 0, 0);
      width: 1210px;
      top: 780px;
      margin: 52px 108px;
   }
   .horizontal-line2{
    position: absolute;
    border-bottom: 4px solid rgb(0, 0, 0);
    width: 1210px;
    top: 620px;
    margin: 52px 108px;
 }
 .horizontal-line3{
  position: absolute;
  border-bottom: 4px solid rgb(0, 0, 0);
  width: 1210px;
  top: 495px;
  margin: 52px 108px;
}
.horizontal-line4{
  position: absolute;
  border-bottom: 4px solid rgb(0, 0, 0);
  width: 1210px;
  top: 400px;
  margin: 52px 108px;
}






  #nav{
    position: absolute; 
    top: 34px; 
    left: 115px; 
    width: 1210px; 
    height: 164px; 
    z-index: 4; 
    pointer-events: auto; 
    opacity: 1;
    border-color: rgb(187, 187, 187, 0); 
    border-width: 1px; 
    border-style: solid; 
    border-radius: 4px; 
    font-size: 14px; 
    line-height: 20px; 
    padding: 0px; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    display: flex; 
    color: rgb(16, 16, 16); 
    align-items: center; 
    text-align: center; 
    justify-content: center; 
    background: rgb(0, 0, 0);
}
#icon{
    position: absolute; 
    top: 39px; 
    left: 120px; 
    width: 154px; 
    height: 154px; 
    z-index: 22; 
    pointer-events: auto; 
    opacity: 1;
}
 .icon1{
    top: 0px; 
    left: 0px; 
    width: 154px; 
    height: 154px; 
    overflow: hidden; 
    border-radius: 0px; 
    box-shadow: none;
 }
#Huck-Valley{
    position: absolute; 
    top: 66px; 
    left: 431px; 
    width: 578px; 
    height: 100px; 
    z-index: 23; 
    pointer-events: auto; 
    opacity: 1;
    border-color: rgb(187, 187, 187); 
    border-width: 1px; 
    border-style: solid; 
    font-size: 14px; 
    line-height: 20px; 
    font-weight: normal; 
    font-style: normal; 
    display: flex; 
    color: rgb(16, 16, 16); 
    text-align: left; 
    background: rgb(255, 255, 255); 
    align-items: center;
}
 .rich-text{
    width: 1208px; 
    height: 162px; 
    font-size: 14px; 
    font-weight: 400; 
    font-style: normal; 
    letter-spacing: 0px; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    box-shadow: none; 
    color: rgb(16, 16, 16); 
    line-height: 20px; 
    padding: 0px; 
    text-decoration: none; 
    display: flex; 
    flex-direction: column; 
 }
#menu-space{
    position: absolute; 
    top: 34px; 
    left: 1161px; 
    width: 164px; 
    height: 164px; 
    z-index: 5; 
    pointer-events: auto; 
    opacity: 1;
}


/* .dropbtn {
  background-color: #000000;
  color: white;
  padding: 30px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #000000;
} */
/*  
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.Placeholder1{
  width: 100%; 
  height: 100%; 
  box-shadow: none; 
  z-index: 5; 
  border-color: rgb(0, 0, 0); 
  border-width: 1px; 
  border-style: solid; 
  font-size: 14px; 
  line-height: 20px; 
  padding: 0px; 
  font-weight: normal; 
  font-style: normal; 
  text-decoration: none; 
  display: flex; 
  color: rgb(16, 16, 16); 
  align-items: center; 
  text-align: center; 
  background: rgb(255, 255, 255); 
  overflow: hidden;
} */
/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 144px;
  height: 140px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #252525;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #252525;}



 .Placeholder{
    width: 100%; 
    height: 100%; 
    box-shadow: none; 
    z-index: 5; 
    border-color: rgb(187, 187, 187, 0); 
    border-width: 1px; 
    border-style: solid; 
    font-size: 14px; 
    line-height: 20px; 
    padding: 0px; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    display: flex; 
    color: rgb(16, 16, 16); 
    align-items: center; 
    text-align: center; 
    background: rgb(255, 255, 255); 
    overflow: hidden;
 }
 .text{
    z-index: 1; 
    font-size: 14px; 
    justify-content: center; 
    align-items: center; 
    color: rgb(16, 16, 16); 
    width: 100%;
 }
/* #menu{
    position: absolute; 
    top: 83px; 
    left: 1210px;
    width: 66px; 
    height: 66px; 
    z-index: 8; 
    pointer-events: auto; 
    opacity: 1;
} */
 .DropDownMenu{
    width: 100%; 
    height: 100%; 
    box-shadow: none; 
    z-index: 8; 
    opacity: 1; 
    border-color: rgb(187, 187, 187); 
    border-width: 1px; 
    border-style: solid; 
    font-size: 14px; 
    line-height: 20px; 
    font-weight: normal; 
    font-style: normal; 
    display: flex; 
    color: rgb(16, 16, 16); 
    text-align: left; 
    background: rgb(255, 255, 255); 
    align-items: center;
 }
 .drop{
    justify-content: left;
 }
#img1{
    position: absolute; 
    top: 900px; 
    left: 115px; 
    width: 218px; 
    height: 178px; 
    z-index: 10; 
    pointer-events: auto; 
    opacity: 1;
}
 .Image{
    width: 100%; 
    height: 100%; 
    box-shadow: none; 
    border-color: rgb(187, 187, 187); 
    border-width: 0px; 
    border-style: solid; 
    background: rgb(232, 232, 232); 
    border-radius: 0px;
    display: flex; 
 }
 .img{
    top: 0px; 
    left: 0px; 
    width: 218px; 
    height: 178px; 
    overflow: hidden; 
    border-radius: 0px; 
    box-shadow: none;
 }
/* #text1{
    position: absolute; 
    top: 400px; 
    left: 357px; 
    width: 264px; 
    height: 124px; 
    z-index: 15; 
    pointer-events: auto; 
    opacity: 1;
}  */
#entry1{
    position: absolute; 
    top: 892px; 
    left: 384px; 
    width: 210px; 
    height: 40px; 
    z-index: 6; 
    pointer-events: auto; 
    opacity: 1; 
}
 .youtube{
    width: 100%; 
    height: 100%; 
    box-shadow: none;
 }


 .Richtext{
    width: 100%; 
    height: 100%; 
    box-shadow: none;
 }

 .Button{
    width: 100%; 
    height: 100%; 
    box-shadow: none; 
    z-index: 14; 
    border-color: rgb(187, 187, 187); 
    border-width: 1px; 
    border-style: solid; 
    border-radius: 4px; 
    font-size: 14px; 
    line-height: 20px; 
    padding: 0px; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    display: flex; 
    color: rgb(16, 16, 16); 
    align-items: center; 
    text-align: center; 
    justify-content: center; 
    background: rgb(255, 255, 255);
 }
#img2{
    position: absolute; 
    top: 1108px; 
    left: 115px; 
    width: 218px; 
    height: 178px; 
    z-index: 12; 
    pointer-events: auto; 
    opacity: 1;
}
/* #text2{
    position: absolute; 
    top: 400px; 
    left: 357px; 
    width: 264px; 
    height: 124px; 
    z-index: 15; 
    pointer-events: auto; 
    opacity: 1;
} */
#entry2{
    position: absolute; 
    top: 1100px; 
    left: 384px; 
    width: 210px; 
    height: 40px; 
    z-index: 6; 
    pointer-events: auto; 
    opacity: 1;
}

#img4{
    position: absolute; 
    top: 900px; 
    left: 1107px; 
    width: 218px; 
    height: 178px; 
    z-index: 11; 
    pointer-events: auto; 
    opacity: 1;
}
/* #text4{
    position: absolute; 
    top: 400px; 
    left: 819px; 
    width: 264px; 
    height: 124px; 
    z-index: 34; 
    pointer-events: auto; 
    opacity: 1;
} */
#entry4{
    position: absolute; 
    top: 892px; 
    left: 846px; 
    width: 210px; 
    height: 40px; 
    z-index: 6;
    pointer-events: auto;
    opacity: 1;
}

#img5{
    position: absolute; 
    top: 1108px; 
    left: 1107px; 
    width: 218px; 
    height: 178px; 
    z-index: 13; 
    pointer-events: auto; 
    opacity: 1;
}
/* #text5{
    position: absolute; 
    top: 608px; 
    left: 819px; 
    width: 264px; 
    height: 124px; 
    z-index: 35; 
    pointer-events: auto; 
    opacity: 1;
} */
#entry5{
    position: absolute; 
    top: 1100px; 
    left: 846px; 
    width: 210px; 
    height: 40px; 
    z-index: 6; 
    pointer-events: auto; 
    opacity: 1;
}
h1{
    font-size: large;
}
p{
    font-size: small;
}
footer{
    color: #999;
    margin-top: 1200px;
    left: -116px; 
    width: 1210px; 
    height: 164px; 
    padding: 25px 50px;
    text-align: center;
    text-decoration: underline;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute; 
    margin-top: 1200px; 
    left: 116px; 
    width: 1210px; 
    height: 164px; 
    z-index: 4; 
    pointer-events: auto; 
    opacity: 1;
    border-color: rgb(255, 255, 255); 
    border-width: 1px; 
    border-style: solid; 
    border-radius: 4px; 
    font-size: 14px; 
    line-height: 20px; 
    padding: 0px; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    display: flex; 
    color: #999; 
    align-items: center; 
    text-align: center; 
    justify-content: center; 
    background: rgb(0, 0, 0);
} 

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
#form{
    position: absolute;
    top: 250px;
    right: 580px;
}                      
