  .tues-pro {
    display: block;
    margin-left: auto;
    margin-right: 35%;
    margin-top: 10%;
    margin-bottom: auto;
    width: 30%; 
    align-items: center;
  }

  body {
    position: fixed;
    background: #ffffff;
    width: 1500px;
    height: 1500px;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
   }
   .loader1{
    transition: opacity 0.75s, visibility 0.75s;
   }
   .loader1--hidden {
    opacity: 0;
    visibility: hidden;
   }
   .back-wheel{
    display: block;
    animation: rotation 1s infinite linear;
    z-index: -1;
    content: "";
    position: absolute;
    bottom: -7.8%;
    right: 52.4%;
   }
  

   @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
   }
   .front-wheel{
    display: block;
    animation: rotation 1s infinite linear;
    z-index: -1;
    content: "";
    position: absolute;
    bottom: -8%;
    right: 33.5%;
   }
   .loader2{
    transition: opacity 0.75s, visibility 0.75s;
   }
   .loader2--hidden {
    opacity: 0;
    visibility: hidden;
   }

   .hero {
    display: grid;
    margin: 15px auto;
    width: 90%;
    padding: 10px;
    border: 1px solid black;
    color: #000000;
    background: #ffffff;
  }

  #hero-img{
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }

   /* .hero {
    display: none;
  } */



