  .tues-pro {
    display: block;
    margin-left: auto;
    margin-right: 4%;
    margin-top: 10%;
    margin-bottom: auto;
    width: 30%;
    align-items: center;
  }




@keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }

  body {
    position: fixed;
    background: #333333;
    width: 100%;
  }

  .loader1 {
    position: absolute;
    top: 0px;
    right: 500px;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    background: #333333;
    transition: opacity 3s, visibility 3s;
    z-index: 1;
   }
  
   .loader1--hidden {
    opacity: 0;
    visibility: hidden;
   }
  
   .loader1::after {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 36%;
    right: 21.5%;
    width: 130px;
    height: 130px;
    border: 15px solid rgba(0, 0, 0);
    border-top-color: rgba(29, 29, 29);
    border-radius: 50%;
    animation: loading 0.65s ease infinite;
    align-items: center;
   }
  

  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }

   .loader2 {
    position: absolute;
    top: 0px;
    right: 500px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    transition: opacity 3s, visibility 3s;
    z-index: 1;
   }
  
  .loader2--hidden {
    opacity: 0;
    visibility: hidden;
   }
  
   .loader2::after {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 36%;
    right: 2.38%;
    width: 130px;
    height: 130px;
    border: 15px solid rgba(0, 0, 0);
    border-top-color: rgba(29, 29, 29);
    border-radius: 50%;
    animation: loading 0.65s ease infinite;
    align-items: center;
   }

  #hero-img{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }